* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
}

nav {
    width: 1050px;
    height: 80px;
    background-color: #1f2937;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

li {
    padding-left: 20px;
}

a, .subtext, .placeholder{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    background-color: deepskyblue;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
    width: 25%;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero .row {
    width: 1050px;
    margin: 40px auto;
    padding-bottom: 100px;
    display: flex;
}

.row {
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
}

.col {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title-col {
    padding-right: 60px;
}

.placeholder {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 40px;
}

.info {
    justify-content: center;
}

.image {
    border: 3px solid #3882f6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.card {
    text-align: center;
    width: 150px;
    margin: 0 20px;
}

.quote-box {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 40px;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    color: #1f2937;
    width: 55%;
}

.source {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    padding-right: 30px;
}

.action {
    background-color: #3882f6;
    margin: 70px auto;
    padding: 40px 100px;
    border-radius: 5px;
    display: flex;
}

.sign-up {
    justify-content: center;
    align-items: flex-end;
}

footer {
    height: 80px;
    background-color: #1f2937;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}